@mixin button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: #646cff;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

@mixin link {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;

    &:hover {
        color: #535bf2;
    }
}

@mixin input {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: #646cff;
        outline: none;
    }
}

@mixin textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    resize: none;

    &:focus {
        border-color: #646cff;
        outline: none;
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}